body {
  background: darkslateblue;
  /* margin: 50px; */
  text-align: center;
}

.imgBox {
  background-image: url("https://scontent.fixc2-1.fna.fbcdn.net/v/t1.6435-9/s960x960/219174056_1876478215868533_1165926293742936994_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=4IvAyslulYEAX_SzZdY&_nc_ht=scontent.fixc2-1.fna&oh=8a6743c5b257ec9d753b7730cf464b18&oe=6173D948");
  position: relative;
  top: 2px;
  left: 2.3px;
  height: 145px;
  width: 145px;
  background-size: cover;
  cursor: pointer;
}

.whiteBox {
  display: inline-block;
  background-color: #fff;
  height: 155px;
  width: 155px;
  margin: 10px;
  border: 3px solid black;
}

h1 {
  color: rgb(232, 235, 21);
  font-weight: 900;
}

.hold {
  border: 4px solid rgb(218, 71, 71);
}

.hide {
  display: none;
}

.dashed {
  background: violet;
  border-style: dashed;
}
