body {
  background: darkslateblue;
  /* margin: 50px; */
  text-align: center;
}

.imgBox {
  background-image: url("https://scontent.faip1-1.fna.fbcdn.net/v/t39.30808-6/279386239_2070552663127753_5217458599181636889_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=jFdld1fxnosAX8KQDjf&_nc_ht=scontent.faip1-1.fna&oh=00_AT9kDViDCC8UHU3bplHcDhQhcl5tkqaOVFFGqXJz9JtwTQ&oe=628C2683");
  position: relative;
  top: 2px;
  left: 2.3px;
  height: 145px;
  width: 145px;
  background-size: cover;
  cursor: pointer;
}

.whiteBox {
  display: inline-block;
  background-color: #fff;
  height: 155px;
  width: 155px;
  margin: 10px;
  border: 3px solid black;
}

h1 {
  color: rgb(232, 235, 21);
  font-weight: 900;
}

.hold {
  border: 4px solid rgb(218, 71, 71);
}

.hide {
  display: none;
}

.dashed {
  background: violet;
  border-style: dashed;
}
